<h1>WODs</h1>
<h3>Welcome, <%=@user.username%> </h3>
<% Wod.all.each do |wod| %>
  <a href="/wods/<%=wod.id%>"> <%= wod.content %> </a>
  <br></br>
<% end %>
<a href = "/wods/new" >Write a new WOD</a>
<a href = "/logout" >Logout</a>
