<h1>WODs</h1>

<div class="wod-buttons">
  <h4><a href="/users/<%=current_user.slug%>">Go To WOD Profile</a></h4>
  <h4><a href = "/wods/new" >Write a new WOD</a></h4>
  <h4><a href = "/logout" >Logout</a></h4>
</div>

<h3>Public WODs Feed</h3>
<% Wod.all.each do |wod| %>
  <a href="/wods/<%=wod.id%>"><%= wod.user.username %> - <%= wod.content %></a>
  <br></br>
<% end %>
