<h1>Login To Record Your Wod</h1>

<form action="/login" method="POST">

  <h3><em>Please enter your information below</em></h3>
  <br />

  <% if flash.has?(:message) %>
    <%= flash[:message]%>
  <% end %>
  <br />
  <br />
  <label>Username:</label>
  <input type="text" name="username" id="user_username">
  <br></br>

  <label>Password:</label>
  <input type="password" name="password" id="user_password">
  <br></br>

  <input type="submit" value="Login">
</form>

<br />
<p>
  Need to create an account? <a href="/signup">Signup Page</a>
</p>
