<div class="container">
    <h1>Welcome To The WOD App!</h1>
    <h2>This app will allow you to log your workout of the day.</h2>

    <div class="content">
      <br />
      <p>Post, edit, and save your Wods to keep track of progress and consistency.</p>
      <p>Organize your fitness lifestyle today, and see what others are doing as well!</p>

      <% if logged_in? %>
        <h3>Welcome, <%=current_user.username%>!</h3>
        <div class="home-buttons">
          <h4 id="left-button"><a href="/users/<%=current_user.slug%>">WOD Profile</a></h4>
          <h4><a href="/wods">WOD Feed</a></h4>
        </div>
        <!-- <p>*<em>WOD Profile</em> to create and see your own logs. <em>WOD Feed</em> to see all logs*</p> -->
        <br />
        <h4><a href = "/logout" >Logout</a></h4>
      <% else %>
        <p><strong>Please log in to your account or sign up for one below.</strong></p>
        <div class="home-buttons">
          <h3 id="left-button"><a href="/login">Login Page</a></h3>
          <h3><a href="/signup">Signup Page</a></h3>
        </div>
      <%end%>

    </div>
</div>
