<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>The Wod App</title>

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="wrapper">

      <%= yield %>

    <footer class="foot-note">
      <small>&copy; 2018 <strong>The Wod App</strong></small>
    </footer>
  </div>
